<section class="text-center section-padding contact-wrap" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
        <h1 class="arrow">Contact</h1><hr>
        <p> You can contact Us via those informations  .</p>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="light-box box-hover">
          <h2><span>Address</span></h2>
          <p>Tunis ,<br> Petit Ariana,<br>Esprit</p>
        </div>
      </div>
      <div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
        <div class="light-box box-hover">
          <h2><span>Phone</span></h2>
          <p>+216 53 059 655</p>
        </div>
      </div>
      <div class="col-md-4 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
        <div class="light-box box-hover">
          <h2><span>Email</span></h2>
          <p><a >aymen.ouerghui@esprit.tn</a><br><a href="#">aymenouerghui17@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <a id="get_directions" class="learn-more-btn btn-effect" ><i class="fa fa-map-marker"></i><span>Get Directions</span></a>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="social-buttons">
          <li><a  class="social-btn"><i class="fa fa-dribbble"></i></a></li>
          <li><a  class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a  class="social-btn"><i class="fa fa-envelope"></i></a></li>
          <li><a  class="social-btn"><i class="fa fa-facebook"></i></a></li>
          <li><a  class="social-btn"><i class="fa fa-skype"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /CONTACT -->

<!--FOOTER-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-center">
        <ul class="legals">
          <li><button class="md-trigger " data-modal="modal-11">Aymen</button></li>
          <li><a>Made in Tunisia</a></li>
        </ul>
      </div>

      <div class="md-overlay"></div>
    </div>
  </div>
</footer>
