

<!--PRELOADER-->

<!--/ABOUT-->

<!--HOME-->
<section id="sec_1" class="autoheight">

  <!--LANDING VIDEO-->
  <video id="video"  autoplay="autoplay" loop >
    <source src="../../assets/assets_front/video.mp4" type="video/mp4">

  </video>
  <!--/LANDING VIDEO-->

  <div class="home-bg"></div>
  <div class="col-lg-12 landing-text-pos align-center">
    <h1 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="1s">FREEDOM MUSIC FESTIVAL</h1>
    <hr id="title_hr"/>
    <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Tunisia </p>
    <a class="learn-more-btn btn-effect wow animated fadeIn" data-wow-duration="0.5s" href="/register"  routerLink="register" data-wow-delay="1.5s" >Sign up Now</a>
  </div>
</section>
<!--/HOME-->

<!--ABOUT-->
<section class="intro text-center section-padding" id="intro">
  <div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="row">
      <div class="col-lg-8 align-center about">
        <h1 class="arrow">ABOUT THE FESTIVAL</h1>
        <hr>
        <p>We are Mievent a groupe of people who wants to deleve happins , you can participe in our events en ligne and you but ticket and watch stories ,... </p>
      </div>
    </div>
  </div>
</section>




<!--/SCHEDULE-->

<!--SPEAKERS-->
<section class="team text-center section-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="1s">
        <h1 class="arrow">Our Group</h1><hr>
        <p>We are a group of people who want to deliver happiness</p>
      </div>
    </div>
    <div class="row">
      <div class="speakers-wrap">
        <div id="portfolioSlider">
          <ul class="slides">
            <li>
              <div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="overlay-effect effects clearfix">
                  <div class="img">
                    <img src="../../assets/assets_front/img/team/team2.jpg" alt="Portfolio Item">
                    <div class="overlay">
                      <button class="md-trigger expand" data-modal="modal-1"><i class="fa fa-search"></i><br>View More</button>
                    </div>
                  </div>
                </div>
                <h2>Khalil Teritaha</h2>
                <p>Associé</p>
              </div>

              <div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="overlay-effect effects clearfix">
                  <div class="img">
                    <img src="../../assets/assets_front/img/team/team1.jpg" alt="Portfolio Item">
                    <div class="overlay">
                      <button class="md-trigger expand" data-modal="modal-2"><i class="fa fa-search"></i><br>View More</button>
                    </div>
                  </div>
                </div>
                <h2>Aymen Ouerghui</h2>
                <p>Co-fondateur et CEO .</p>
              </div>

              <div class="col-md-4 col-sm-4 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="overlay-effect effects clearfix">
                  <div class="img">
                    <img src="../../assets/assets_front/img/team/team3.jpg" alt="Portfolio Item">
                    <div class="overlay">
                      <button class="md-trigger expand" data-modal="modal-3"><i class="fa fa-search"></i><br>View More</button>
                    </div>
                  </div>
                </div>
                <h2>Firas foudhaili</h2>
                <p>Associé</p>
              </div>
            </li>
            <!-- <li> Second Set of Speakers -->
          </ul>
        </div>
      </div>
    </div> <!--Row Ends Here-->
  </div>

</section>
<!--/SPEAKER-->


<!--/PRICING-->


<!-- /REGISTER FORM -->

<!--SPONSORS-->
<div id="sponsers" class="ignite-cta text-center section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
        <h1 class="arrow">Our Sponsors</h1><hr>
        <p>Those are our sponsors </p>
      </div>
      <!-- Jssor Slider Begin -->
      <div id="slider1_container" style=" ">
        <div class="inner_carousal" data-u="slides" style="">
          <div><img alt="sp1" src="../../assets/assets_front/img/sponsor/sp1.png" /></div>
          <div><img alt="sp2" src="../../assets/assets_front/img/sponsor/sp2.png" /></div>
          <div><img alt="sp3" src="../../assets/assets_front/img/sponsor/sp3.png" /></div>
          <div><img alt="sp4" src="../../assets/assets_front/img/sponsor/sp4.png" /></div>
          <div><img alt="sp5" src="../../assets/assets_front/img/sponsor/sp5.png" /></div>
          <div><img alt="sp6" src="../../assets/assets_front/img/sponsor/sp6.png" /></div>
          <div><img alt="sp7" src="../../assets/assets_front/img/sponsor/sp7.png" /></div>
        </div>
      </div>
      <!-- Jssor Slider End -->
    </div>
  </div>
</div>
